<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log In</title>
  <link rel="stylesheet" href="/form.css">
</head>
<body>
  <h1>Log In</h1>
  <div class="formContainer">
  <form action="/users/log-in" method="post">
    <div class="entryArea">
      <input type="email" id="email" name="email" required /><label
        for="email"
        >Email</label
      >
    </div>
    <div class="entryArea">
      <input type="password" id="password" name="password" required /><label
        for="password"
        >Password</label
      >
    </div>
    <button type="submit">Log In</button>
  </form>
  <p>Don't have an account? <a href="/users/sign-up">Sign up</a></p>
  </div>  
</body>
</html>
